body {
  background-color: #D6EDFF;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin: 10px 0;
  width: 250px;
}

.home-button-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.home-btn {
    width: 200px;
}